body {

  background-color: #3F74FB;
}
@keyframes extend {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
.vanilla-header {

  width: 90%;
  max-width: 480px;

  margin: 48px auto 32px auto;
  padding-bottom: 8px;

  text-align: center;
}

.vanilla-header::after {
  display:block;
  content: '';
  border-bottom: solid 3px #fff;
  margin-top: 16px;
  transform: scaleX(0);
  animation: extend 1s ease-in-out forwards;
}

.vanilla-content {

  width: 90%;
  max-width: 1040px;

  margin: 0 auto;
}

.vanilla-info-trigger {

  margin-bottom: 16px;
}

.vanilla-info-trigger__arrow {

  display: inline-block;
  cursor: pointer;

  padding: 7px;

  transform: translateX(0) rotate(-45deg);

  border: solid #fff;
  border-width: 0 4px 4px 0;

  transition: transform .2s ease-in-out;
}

.vanilla-info-trigger__arrow:hover {
  transform: translateX(5px) rotate(-45deg);

  transition: transform .2s ease-in-out;
}

.vanilla-calculator {

  position: relative;

  width: 90%;
  height: 570px;
  max-width: 544px;

  margin: 0 auto 24px auto;
  padding: 16px;

  background: #f2f2f2;

  border-radius: 5px;
}

.vanilla-calculator__lateral-button {

  position: absolute;
  right: -35px;
  cursor: pointer;

  width: 35px;
  height: 40px;

  background: #f2f2f2;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 0 8px 8px 0;
}
.vanilla-calculator__lateral-button--history {
  top: 16px;
  background-image: url('../assets/images/history-clock-button.png');
}
.vanilla-calculator__lateral-button--history {
  top: 16px;
  background-image: url('../assets/images/history-clock-button.png');
}
.vanilla-calculator__lateral-button--sort {
  display: none;
  top: 60px;
  background-image: url('../assets/images/sort-button.png');
}
.vanilla-calculator__lateral-button--delete {
  display: none;
  top: 104px;
  background-image: url('../assets/images/delete-button.png');
}

.vanilla-calculator__info-head {
  display: none;
  justify-content: space-between;
  color: #000;
  margin: 0 16px 8px 16px;
}
.vanilla-calculator__info-head .head-index:first-child {
  width: 30%;
}
.vanilla-calculator__info-head .head-index:last-child {
  width: 70%;
}

.vanilla-calculator__history-display {

  display: none;

  width: 100%;
  height: calc(100% - 24px);

  background-color: #D2DAEF;

  border-radius: 5px;
}

.calculation-list {
  padding: 16px;
  max-height: 537px;
  overflow: auto;
}

.calculation-list__item {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;

  color: #000;
  font-size: 14px;
}
.calculation-list__item .item-calc {
  width: 70%;
}
.calculation-list__item .item-date {

  width: 30%;
  color: #4f4f4f;
  font-size: 14px; 
}

.calculation-list__item:last-child {
  margin: 0;
}

.vanilla-calculator__display {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100% - 40px);
  height: 80px;

  margin-bottom: 24px;

  background-color: #D2DAEF;

  border-radius: 5px;
  padding: 20px;

  color: #000;
  text-align: right;
}

.vanilla-calculator__last-text,
.vanilla-calculator__actual-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 2px;
}

.vanilla-calculator__last-text {
  font-size: 21px;
  color: #8D8D8D;
}

.vanilla-calculator__actual-text {
  margin-bottom: 8px;
}

.vanilla-calculator__keyline {

  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.vanilla-calculator__keyline:last-child {
  margin-bottom: 0;
}

.vanilla-calculator__button {

  width: 25%;
  max-width: 120px;
  height: 72px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color .2s ease-in-out;
}

.vanilla-calculator__button[disabled],
.vanilla-calculator__button[disabled]:hover {
  color: #B8B8B8;
  background: #D2D2D2;
  cursor: auto;
}

.vanilla-calculator__button:last-child {
  margin: 0;
}

.vanilla-calculator__button:hover {
  transition: background-color .2s ease-in-out;
}

.vanilla-calculator--number-button {
  background-color: #D2DAEF;
}
.vanilla-calculator--number-button:hover {
  background-color: #BBC5DE;
}

.vanilla-calculator--operation-button {
  background-color: #A2B8F1;
}
.vanilla-calculator--operation-button:hover {
  background-color: #8097D2;
}

.vanilla-calculator--equals-button {
  background-color: #0047FF;
  color: #fff;
}
.vanilla-calculator--equals-button:hover {
  background-color: #00288D;
}

.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__display,
.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__keyboard {
  display: none;
}

.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__history-display,
.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__lateral-button--delete,
.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__lateral-button--sort {
  display: block;
}

.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__info-head {
  display: flex;
}

.vanilla-calculator.vanilla-calculator--history-mode .vanilla-calculator__lateral-button--history {
  background-image: url('../assets/images/calculator-button.png');
}

@media (max-width:360px) {

  .vanilla-header {
      border-bottom: solid 2px #fff;
  }
  .vanilla-header__title {
    font-size: 28px;
  }

  .vanilla-calculator {
    height: 440px;
  }

  .calculation-list {
    max-height: 406px;
  }

  .vanilla-calculator__button {
    height: 46px;
    font-size: 20px;
  }
}
