@font-face {
  font-display: fallback;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf') format("truetype");
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}
